h1{
    color:blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
}
h2{
    color: brown;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
}
span{
    color: black;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: yellowgreen;
}
p{
    color: aqua;
}