
h1{
    color: black;
    font-size: larger;
    text-align: center;

}
span{
    color: black;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: rgb(50, 86, 205);
}
